<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title></title>
<meta charset="utf-8">
<meta name="description" content="">
<meta name="author" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="{{url_for('static', filename='index.css')}}"}}>
<link rel="shortcut icon" href="">
</head>
<body>
<h3>Flask Web API Sample</h3>
<a href="{{ url_for('index') }}">index</a>
<a href="{{ url_for('livehouses') }}">/livehouses</a>
<a href="{{ url_for('players') }}">/players</a>
</body>
</html>